<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieFlix</title>
</head>
<body>
    <h1>MovieFlix</h1>
    <form action="/search" method="GET">
        <input name="title" type="text">
        <input type="submit">
    </form>
</body>
</html>